<!--
  #%L
  com.paremus.ui.rest.app
  %%
  Copyright (C) 2018 - 2019 Paremus Ltd
  %%
  Licensed under the Fair Source License, Version 0.9 (the "License");
  
  See the NOTICE.txt file distributed with this work for additional 
  information regarding copyright ownership. You may not use this file 
  except in compliance with the License. For usage restrictions see the 
  LICENSE.txt file distributed with this work
  #L%
  -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="com.paremus.ui.rest" level="ALL"/>
  <logger name="xxx.org.apache.cxf.endpoint.ServerImpl" level="WARN"/>
  
</configuration>
